<div class="row">
  <div class="col-sm-4">
    <p><strong>Your Text</strong></p>
  </div>
  <div class="col-sm-8"><%= text %></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <p><strong>Encryption</strong></p>
  </div>
  <div class="col-sm-8"><%= encryption %></div>
</div>
<div class="row">
  <div class="pull-right">
    <a href="/" class="btn btn-default">Go Back</a>
  </div>
</div>

