<footer class="well well-lg">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<small>
				The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
				by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
				</small>
			</div>
			<div class="col-xs-12 col-sm-4">
				<ul class="list-inline">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><a href="http://news.railstutorial.org/">News</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p class="text-center">&copy; MAshraf 2015</p>
			</div>
		</div>
	</div>
</footer>