= form_for(object.likes.build, html: { remote: true }) do |f|
  .hidden
    = hidden_field_tag :post_id, object.id
  = button_tag type: 'submit', class: 'fabutton' do
    %i.fa.fa-thumbs-up
    = object.likes.count
