<h1 class="text-center">Editing Kitten</h1>

<%= render 'form' %>

<div class="btn-group">
<%= link_to 'Show', @kitten, class:"btn btn-default" %>
<%= link_to 'Back', kittens_path, class:"btn btn-default" %>
</div>


