/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  General Style
*/
html {
  box-sizing: border-box;
  min-height:100vh;
}

body{
  background-color: #f1f1f1;
	font-family: Roboto,arial,sans-serif;
	font-size: 13px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 Header
*/
header {
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	z-index: 100;
}

.container{
  width: 95%;
  margin: 0 auto;
}

.brand {
  float: left;
  margin-top: 3px;
  position: relative;
  width: 200px;
}

.brand button {
	display: inline-block;
}
.logo {
  background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNVER5Q.webp) -178px -227px;
  background-size: auto;
  width: 73px;
  height: 30px;
	display: inline-block;
}

.search {
	width: 650px;
  float: left;
  line-height: 36px;
  position: relative;
}

.search input {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 2px 6px;
  width: 100%;
  
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
}

.search-icon{
      border: none;
    display: block;
    opacity: .6;
    padding: 0;
    text-indent: -10000px;
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vflNVER5Q.webp) -694px -43px;
    background-size: auto;
    width: 15px;
    height: 15px;
    box-shadow: none;
    position: absolute;
    top: 10px;
    right: 15px;
}

header nav {
	float: right;
}

nav button {
	height: 25px;
	margin-right: 10px;
	background-color: #f8f8f8;
	border: 1px solid #d3d3d3;
}

nav button:hover {
	cursor: pointer;
	background-color: rgb(248, 248, 248);
	outline: none;
	border-color:#b9b9b9;
	background:#e5e5e5;
	box-shadow:inset 0 1px 0 #ddd;
}

.fa-bell-o {
	opacity: 0.5;
	vertical-align: middle;
}

.fa-bell-o:hover {
	opacity: 1;
	cursor: pointer;
}

nav img {
	margin-right: 20px;
	margin-left: 10px;
	height: 27px;
	width: 27px;
	border-radius: 50%;
	vertical-align: middle;
}


.nav-btn {
	height: 28px;
	background: transparent;
	border: none;
	position: absolute;
  top: 2px;
  left: -30px;
}

.fa-bars {
	font-size: 16px;
	color: #a1a1a1;
}
/*
  Main
*/
main{
  margin: 80px 20px;
}
#main-content {
	width: 60%;
	float: left;
}

aside {
	width: 38%;
	background-color: #fff;
	float: right;
	padding-bottom: 20px;
}

.video {
	background-color: blue;
	height: 400px;
	width: 100%;
}

.about-video-header, .about-video, .comments {
	background-color: #fff; 
}

.about-video-header {
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.about-video-header h2 {
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 10px 0;
}

.user-info {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.user-info img {
	height: 48px;
	width: 48px;
	float: left;
}

.user-info-inner {
	float: left;
	margin-left: 10px;
}

.user-info a {
	text-decoration: none;
	color: #333;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.subscribe button {
	background-color: #e62117;
	border: 1px solid transparent;
	color: #fff;
	float: left;
	outline: none;
}

.subscribe span {
	height: 22px;
	color: #767676;
	font-size: 11px;
	text-align: center;
	border: 1px solid #ccc;
	display: inline-block;
	line-height: 20px;
	padding: 0 4px;
	float: left;
	background-color: #fafafa;
	border-left: none;
}

.fa-youtube-play {
	margin-right: 5px;
	color: #fff;
}

.views {
	display: inline-block;
	float: right;
	color: #666;
	font-size: 19px;
	position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid blue;
    width: 100px;
    text-align: right;
}

.views p {
	margin: 0;
}

.group:after {
	content: "";
	display: table;
	clear: both
}

.action-bar {
	margin-top: 10px;
	margin-bottom: 10px;;
}

.actions {
	display: inline-block;
	width: 50%;
	float: left;
}

.actions span {
	margin-right: 10px;
}

.actions span i {
	margin-right: 5px;
	color: #767676;
}

.votes {
	width: 50%;
	float: right;
}

.votes div {
	display: inline-block;
	float: right;
	margin-left: 10px;
}

.upvote, .downvote {
	color: #767676;
}

.upvote a, .downvote a {
	color: #000;
	opacity: 0.5;
}

.upvote a:hover, .downvote a:hover {
	opacity: 1;
}
.fa-plus, .fa-share-alt, .fa-ellipsis-h{
  font-size: 20px;
  width: 20px;
  height: 20px;
}

/*
 Video Description
*/
.about-video {
	padding: 10px;
}

.show-more-content-bar {
	text-align: center;
	border-top: 1px solid #ccc;
	padding-top: 5px;
	color: #767676;
}
.about-video-content{
  margin: 10px 0;
}
.about-video-content p{
  padding: 5px 0;
}

.about-video-content strong{
  font-weight: bold;
}

/*
  Comments
*/
.comments {
	padding: 10px;
	margin-top: 10px;
}

.comments h3 {
	color: #666;
	font-weight: 500;
  padding: 10px 0;
}

.post-comment img {
	width: 47px;
	height: 47px;
	float: left;
}

.post-comment form {
	float: left;
	width: 80%;
}

.post-comment input {
	width: 100%;
	height: 47px;
	margin-left: 5px;
	outline: none;
	padding: 5px;
}

.post-comment {
	margin-bottom: 10px;
	position: relative;
}

.comments button {
	background-color: #f8f8f8;
	border: 1px solid #d3d3d3;
	font-size: 11px;
	height: 28px; 
}

.comments button i {
	margin-left: 5px;
	vertical-align: text-top;
}

.display-comments {
	margin-top: 10px;
	position: relative;
}


.user-avatar {
	margin-right: 10px;
	display: block;
	float: left;
	width: 50px;
}

.user-avatar img {
	width: 48px;
	height: 48px;
}

.comment-details {
	margin-bottom: 5px;
}

.comment-details a {
	color: #167ac6;
	text-decoration: none;
	font-weight: 500;
}

.comment-details span {
	color: #767676;
	margin-left: 5px;
	font-size: 11px;
}

.comment-content {
	margin-left: 60px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.comment-content p {
	margin: 0;
}
.comment-actions {
	margin-top: 5px;
}

.reply {
	color: #555;
	opacity: 0.75;
	font-size: 12px;
	text-decoration: none;
	margin-right: 5px;
}

.comment-actions i {
	margin-right: 5px;
	color: #000;
	opacity: 0.3;
}

.comment-actions i:hover {
	opacity: 1;
}

.icon-flipped {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
}


/*
  Side
*/
.aside-actions {
	padding: 10px;
}

.aside-actions > p {
	display: inline-block;
	float: left;
	margin: 0;
}

.autoplay-actions {
	display: inline-block;
	float: right;
	color: #767676;
}

.autoplay-actions > p {
	display: inline;
	margin-right: 5px;
}

.autoplay-actions > .onoffswitch {
	display: inline-block;
	vertical-align: text-top;
	margin-left: 5px;
}

.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 13px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 10px; padding: 0; line-height: 10px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
	font-family: FontAwesome;
    content: "\f00c";
    font-size: 10px;
    padding-left: 12px;
    background-color: #167AC6; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: -2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 23px;
    border: 2px solid #999999; border-radius: 13px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.next-video img, .video-preview img {
	width: 168px;
	height: 94px;
	display: inline-block;;
	margin-right: 8px;
	margin-left: 10px;
	float: left;
  background: transparent;
}

.video-details {
	width: 50%;
	display: inline-block;
	height: 90px;
}

.video-details h4, .video-details p {
	margin: 0;
}

.video-details h4 {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 2px;
} 

.video-details p {
	color: #767676;
	font-size: 11px;
}

.next-video {
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 10px;
}

.video-preview {
	margin-bottom: 10px;
}

aside {
	padding: 5px;
  margin-bottom: 10px;
}
/*
  Footer
*/

footer {
  clear: both;
	background-color: #fff;
	padding: 10px;
}

.footer-action-bar {
	margin-left: 10px;
  margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
}

.footer-logo {
	float: left;
	margin-right: 10px;
}

.footer-action-bar button {
	height: 28px;
	background-color: #f8f8f8;
	border: 1px solid #d3d3d3;
	border-radius: 2px;
}

.footer-action-bar button:hover {
	background-color: #f0f0f0;
	border-color: #c6c6c6;
	box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.footer-action-bar button i, .footer-action-bar button span {
	opacity: 0.5;
}

.footer-action-bar button i {
	margin-right: 5px;
}

.footer-action-bar button i:hover, .footer-action-bar button span:hover {
	opacity: 1;
}
.footer-links-1, .footer-links-2{
  padding: 5px 0;
}

.footer-links-1 ul li, .footer-links-2 ul li {
	display: inline-block;
	margin-right: 10px;
}

.footer-links-1 a {
	color: #333;
	text-decoration: none;
}

.footer-links-2 a {
	color: #666;
	text-decoration: none;
}

.footer-links-1 ul, .footer-links-2 ul {
	padding-left: 0;
	margin-left: 10px;
}