<div class="flickr-container">
  <% photos.each do |p| %>
    <% unless p.nil? %>
      <div class="flick-col">
        <%= link_to(image_tag(FlickRaw.url(p), :class => 'flickr_photo', :title => p.title), FlickRaw.url_photopage(p)) %>
      </div>
    
    <% else %>
      <h2> This user has no Photos!</h2>
    <% end %>
  
  <% end %>
</div>