/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  General Style
*/
html {
  box-sizing: border-box;
  min-height:100vh;
}

body{
  font-family: 'Quattrocento Sans', sans-serif;
	color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
  Content Wrapper
*/
.container-wrap{
	width: 800px;
	margin: 0 auto;
	padding: 60px 0 0 0;
}

/*
  Header
*/

header {
	margin-bottom: 15px;
	font-size: 16px;
}
header span {
	display: inline-block;
	width: 50%;
}
header span:last-child {
	text-align: right;
}

a {
	text-decoration: none;
	color: inherit;
}

strong{
  font-weight: bold;
}

/*
  Main
*/
main {
	box-shadow: 0 2px 7px #ccc;
	box-sizing: border-box;
	padding: 40px 25px 40px 40px;
	overflow: auto;
  display: flex;
  justify-content: space-between;
}

/* 
  Main Form 

*/

.main-form {
	font-size: 14px; 
}
.main-form h1 {
	font-weight: normal;
	font-size: 230%;
	line-height: 1.5;
  padding-bottom: 20px;
}
.main-form label {
	display: block;
	margin-bottom: 20px;
}
.main-form input {
	display: block;
}
.main-form input {
	padding: 8px;
	border-radius: 3px;
	width: 300px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

.main-form input[type=checkbox] {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	background-color: #fff;
}
.main-form label[for=remember] {
	display: inline-block;
	position: relative;
	top: -5px;

}
.main-form input[type=submit] {
	width: 100px;
	color: #fff;
	background-color: #45CAE6;
	border: 0;
	cursor: pointer;
	background-image: url(https://accounts.intuit.com/IUS-Plugins/v2/images/icon-whitelock@3x.png);
	background-repeat: no-repeat;
	background-position: 15px 8px;
	background-size: 10px;
	margin-bottom: 10px;
}
.main-form .agree {
	color: #888;
	font-size: 90%;
}
.main-form .agree a {
	color: #45CAE6;
}

/*
  aside Section
*/
aside {
	float: right;
	width: 30%;
	border-left: 1px solid #ccc;
  display: flex;
}
.white {
	width: 25px;
	flex-shrink: 0;
}
.description {
	background-color: #f5f5f5;
  padding: 21px 17px 19px 40px;
	color: #666;
	font-size: 12px;
	height: 540px;
}
.description h2 {
	font-size: 20px;
  margin-left: -15px;
  color: #666;
  padding-bottom: 10px;
  font-weight: bold;
}
.description ul {
  line-height: 1em;
  list-style: none outside;
	padding-right: 10px;
  width: 140px;
}
.description li {
  background: 0 0;
  list-style-type: disc;
  padding: 0 5px 5px 0;
  margin-bottom: 10px;
  font-size: 12px;
}
.description a {
	text-decoration: underline;
}

/*
  Footer Section
  
*/

nav {
	font-size: 14px;
	color: #aaa;
	margin: 80px 0;
	text-align: center;
}
nav a {
	margin-left: 13px;
	margin-right: 13px;
}

.trusts {
	margin-bottom: 50px;
	text-align: center;
}
.trusts a:first-child img {
	margin-right: 30px;
}
.trusts a:last-child img {
	position: relative;
	top: -10px;
}

.copy{
  text-align: center;
	color: #aaa;
	font-size: 12px;
	margin-bottom: 100px;
}