@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Global variables */
 $dark: #424652;
 $light: #9a9da4;
 $extra-light: #E8E8E8;
 $highlight: #8bc6db;
 $highlight-1: #3399CC;
 $blue: #007bb6;
 $border: #E9E9E9;
 $red-letter: #CC0033;
 $light-grey: #F8F8F8;
 $twitter: #55acee;
 $github: #333333;
 $facebook: #3b5998;

html, body{
  background-color: #e9eaed;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* nav */ 
.navigation-bar{
  background-color: $facebook;
  padding-top: 1.0em;
  padding-bottom: 0;
  background-color: #3a5795;
  border: 0;
  border-bottom: 1px solid #133783;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  
  .brand{
    //font-size: 2em;
    color: #e8e8e8;
    display: block;
    margin: 0;
    padding: 0;
    
    .left-menu{
      .main-book{
        font-size: 2.0em;
      }
    
      li{
        display: inline;
        list-style: none;
        color: #e8e8e8;
        
        h3{
          display: inline;
        }
      }
      form{
        display: inline;
        float: right;
        margin: 0;
        input{
          margin-left: 5px;
          margin-top: 5px;
          height: 25px;
        }
      }
      a{
        color: $light-grey;
        &:hover{
          color: #ffffff;
          text-decoration: none;
          background: #3a5795;
        }
      }
    }
  }
  .right-menu{
    margin: 0;
    list-style: none;
    font-size: 1em;
    text-decoration: none;
    
    li{
      display: inline;
      margin: 0 3px;
      color: #e8e8e8;
    }

    .dropdown-menu{
      font-size: .7em;
      margin-top: 15px;
      padding-right: 0px;
      li{
        margin: 0;
      }
      
      a{
        color: $dark;
        padding: 8px;
      }
    }
    
    a{
      color: #e8e8e8;
      &:hover{
        color: #ffffff;
        text-decoration: none;
        background: #3a5795;
      }
      
      &:visited{
        text-decoration: none;
      }
    }
  }
  
  .navigation-links{
    a{
        color: $light-grey;
        font-size: 1.5em;
        &:hover{
          color: #ffffff;
          text-decoration: none;
          background: #3a5795;
        }
      }
  }
 
  .nav-form{
    font-size: 12px;
    color: white;
    position:relative;

    .form-control{
      border-radius: 0!important;
      height: 25px!important;
    }
    .btn-log{
      bottom: 0;
    }
    a{
      font-size: 12px;
    }
  }
}
 
 /* posts */
.posts{
  list-style:none;
  padding: 0;
  
  .post{
    background-color: #ffffff;
    padding: 10px 5px;
    margin: 0px auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
  }
  li{
    //padding: 10px 5px;
    background-color: #ffffff;
    margin: 5px auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 550px;
    max-height: 100%;
  }
  .user{
    padding-top: 5px;
    font-size: 30px;
    font-weight: 500;
    a{
      color: $facebook;
      &:hover{
        background: inherit;
      }
    }
  }
  .content{
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
    padding-left: 10px;
    img{
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp{
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar{
    float: left;
    margin-right: 10px;
  }
}
.create-post-box{
  background: #ffffff;
  max-width: 550px;
  max-height: 100%;
  margin: 10px auto;
  padding: .3em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  hr{
    margin-top: 8px;
  }
  .pull-left{
    padding-top: 6px;
    a{
      font-size: 14px;
      color: $light;
      text-decoration: none;
      &:hover{
        color: $facebook;
        text-decoration: none;
        background: inherit;
      }
    }
  }
}
.update-status{
  font-size: 15px;
  i{
    color: $facebook;
    font-size: 22px;
    margin-bottom: 0px;
  }
}

 /* Comments */
#comments{
  background-color: #CCCCFF;
  padding: 10px 5px;
  margin: 0 auto;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  max-width: 550px;
  max-height: 100%;
}
.comment{
  border-bottom: 1px solid $light;
  .com-author{
    margin-bottom: 1px;
    color: #000000;
  	font-weight: 500;
  }
}

/* User Profile */
.user-profile{
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  h2{
    text-align: center;
  }
  .post{
    background-color: #ffffff;
    padding: 10px 5px;
    margin: 0px auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
  }
  .comment-form{
    margin-bottom: 1.6em;
  }
  li{
    list-style-type: none;
    margin: 5px auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    max-width: 550px;
    max-height: 100%;
  }
}

/* Intro Landing */
.gradient{
  min-width: 960px;
  background: linear-gradient(white, #D3D8E8);
  .grad-content{
    width: 960px;
    margin: 0 auto;
  }
  
  .f-inline{
    display: flex;
  }
  
  .btn{
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    font-size: 19px;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
  }
  .btn-sub{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    &:hover{
      background: linear-gradient(#79bc64, #578843);
    }
  }
}

.foot{
  background: white;
  min-width: 960px;
  .foot-content{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
  }
}
/* custom tag styles */
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
{
  outline:0px !important;
  -webkit-appearance:none;
}
textarea{
  resize: none;
  font-size: 14px;
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
 
 /* Special Purpose Classes */

.clear-top{
  margin-top: 15px;
 }
 
.full-line{
  margin-bottom: 5px;
}
.bottom-links{
  a{
    margin-right: 15px;
    color: $light;
    &:hover{
      color: $facebook;
      background: inherit;
    }
  }
}

.form-control-mine{
  margin-bottom: 5px;
  border: 0;
  width: 100%;
  max-width: 530px;
}

.form-control-mine-comment{
  margin-bottom: 5px;
  border: 0;
  width: 100%;
  max-width: 550px;
}
.comment-form{
  background: #ffffff;
  width: 100%;
  max-width: 550px;
}
.comment-button{
  .btn{
    margin-top: 0px;
  }
}
.btn{
  padding: 1px 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 5px;
}

.fabutton{
  background: none;
  padding: 0px;
  border: none;
  i{
    font-size: 1.5em;
    color: $dark;
    padding-left: 15px;
  }
}